.login {
	height: calc(100vh - 90px);
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login__form {
	height: 100%;
	width: 300px;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
}

.login__form .login__form-title {
	text-align: center;
	font-size: 25px;
	margin: 0 0 30px;
}

.login__form .login__form-text {
	margin: 0 0 20px;
	height: 35px;
	padding-left: 20px;
	border-radius: 1px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.login__form .login__form-bottom {
	margin: 10px 0 20px;
	height: 35px;
	border-radius: 1px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: #e7e0e9;
	background-color: #d389fe;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
}
