.profile {
	height: calc(100vh - 90px);
	padding: 20px 30px;
	background-color: #27292d;
	display: flex;
	justify-content: flex-start;
}

.profile .profile__update {
	padding: 20px;
	width: 320px;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2),
		0 2px 4px rgba(0, 0, 0, 0.2), 2px 0 4px rgba(0, 0, 0, 0.2),
		-2px 0 4px rgba(0, 0, 0, 0.2);
	background-color: #2b2f31;
}

.profile .profile__update .profile__update-title {
	padding: 0 0 10px;
	text-align: center;
	color: #e7e0e9;
	font-size: 18px;
}

.profile .profile__update .profile__update-form {
	height: 450px;
}

.profile .profile__update .profile__update-form .input {
	height: 30px;
	width: 100%;
	margin: 5px 0;
	padding-left: 15px;
	outline: none;
	border-radius: 3px;
	border: none;
	color: rgba(0, 0, 0, 0.5);
}

.profile .profile__update .profile__update-form .bottom {
	height: 40px;
	width: 100%;
	margin: 20px 0 5px;
	outline: none;
	border-radius: 3px;
	border: none;
	font-size: 16px;
	letter-spacing: 1px;
	cursor: pointer;
}

.profile
	.profile__update
	.profile__update-form
	.label
	span {
	height: 30px;
	width: 100%;
	margin: 10px 0 5px;
	color: #e7e0e9;
	font-size: 12px;
}

input[type='date'] {
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	background: #ecf0f1;
	padding: 0 10px;
	cursor: pointer;
}

.profile .profile__card {
	position: relative;
	width: calc(100% - 320px);
	margin: 0 0 0 20px;
	border-radius: 5px;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2),
		0 2px 4px rgba(0, 0, 0, 0.2), 2px 0 4px rgba(0, 0, 0, 0.2),
		-2px 0 4px rgba(0, 0, 0, 0.2);
	background-color: #2b2f31;
}

.profile .profile__card .profile__card-header {
	position: relative;
	height: 200px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile .profile__card .profile__card-header .photo {
	position: absolute;
	width: 170px;
	top: 110px;
	left: calc(50% - 85px);
	border-radius: 50%;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2),
		0 2px 4px rgba(0, 0, 0, 0.2), 2px 0 4px rgba(0, 0, 0, 0.2),
		-2px 0 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.profile .profile__card .profile__card-header-input {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 10;
	top: 150px;
	right: 10px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.profile .profile__card .profile__card-header-input .file {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.5);
}

.profile
	.profile__card
	.profile__card-header-input
	.file
	.file__input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	opacity: 0;
}

.profile .profile__card .profile__card-header-photo {
	position: absolute;
	width: 170px;
	height: 170px;
	z-index: 10;
	top: 110px;
	left: calc(50% - 85px);
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.profile .profile__card .profile__card-header-photo .file {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.5);
	opacity: 0;
}

.profile
	.profile__card
	.profile__card-header-photo
	.file:hover {
	opacity: 1;
}

.profile
	.profile__card
	.profile__card-header-photo
	.file
	.file__input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	opacity: 0;
}

.profile .profile__card .profile__card-header-info {
  margin: 0 20px;
	margin-top: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.profile .profile__card .profile__card-header-info .title {
	color: #e7e0e9;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: 400;
}

.profile .profile__card .profile__card-header-info .props {
	color: #e7e0e9;
	font-size: 14px;
  font-weight: 400;
  padding-bottom: 4px;
}

.profile
	.profile__card
	.profile__card-header-info
	.props
	span {
	color: #c4c0c5;
  font-size: 15px;
  font-weight: 400;
  font-style: oblique;
}
