.register {
	height: calc(100vh - 90px);
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #27292d;
}

.register .container {
	position: relative;
	height: 580px;
	padding: 80px 20px 30px;
	border-radius: 25px;
	background-color: #171820;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.6),
		0 -2px 5px rgba(255, 255, 255, 0.6),
		2px 0 5px rgba(255, 255, 255, 0.6),
		-2px 0 5px rgba(255, 255, 255, 0.6);
}

.register .container .audio {
	position: absolute;
	width: 70px;
	height: 6px;
	top: 40px;
	left: calc(50% - 35px);
	border-radius: 5px;
	background-color: #fbfdff;
}

.register .container .camera {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 30px;
	left: calc(100% - 40px);
	border-radius: 50%;
	background-color: #fbfdff;
}

.register .container .bottom {
	position: absolute;
	border: 1px solid #fbfdff;
	width: 70px;
	height: 25px;
	bottom: 15px;
	left: calc(50% - 35px);
	border-radius: 10px;
}

.register__form {
	height: 95%;
	width: 280px;
	padding: 70px 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 2px;
	background-color: #fbfdff;
	box-shadow: 0 1px 3px rgba(255, 255, 255, 0.6),
		0 -1px 3px rgba(255, 255, 255, 0.6),
		1px 0 3px rgba(255, 255, 255, 0.6),
		-1px 0 3px rgba(255, 255, 255, 0.6);
}

.register__form .register__form-title {
	text-align: center;
	font-size: 25px;
	margin: 0 0 30px;
	color: rgba(0, 0, 0, 0.8);
}

.register__form .register__form-text {
	width: 100%;
	margin: 0 0 20px;
	height: 35px;
	padding-left: 20px;
	border-radius: 1px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.register__form .register__form-bottom {
	margin: 10px 0 20px;
	height: 35px;
	border-radius: 1px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 2px;
	box-shadow: 0 1px 2px rgba(27, 27, 27, 0.4);
	color: rgba(0, 0, 0, 0.8);
}
